<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TI-Rescue!!</title>
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    >
</head>
<style>

</style>
<body>
    <header class="container">
        <nav>
            <ul>
                <li>Sono Colchões</li>
            </ul>
            <ul>
                <li>
                    <a href="{% url 'tirescue-info-problema' %}">Informar Problema</a>
                </li>
            </ul>
        </nav>
    </header>
    <div id="maincontainer" class="container">
        <section>
            <label>Terminal de Comando
                <input type="text" placeholder="Se você não sabe para que serve, não mexa">
            </label>
            <button>Enviar Comando</button>
        </section>
        <section>
            <h2>Produtos com Problemas</h2>
            {% if problemas %}
                <table>
                    <thead>
                        <td>Titulo</td>
                        <td>Author</td>
                        <td>Problemas</td>
                    </thead>
                    <tbody>
                        {% for problema in problemas %}
                        <tr>
                            <td>{{ problema.titulo }}</td>
                            <td><small>{{ problema.author }}</small></td>
                            <td>{{ problema.descricao }}</td>
                            <td><a href="{% url 'tirescue-del-problema' problema_id=problema.id %}">Deletar</a></td>                   
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>Por enquanto sem problemas, YAY!!</p>
            {% endif %}
        </section>
    </div>
</body>
</html>
