<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    >
</head>
<style>
    #maincontainer {

        max-width: 500px;
    }
</style>
<body>
    <header class="container">
        <nav>
            <ul>
                <li>Sono Colchões</li>
            </ul>
            <ul>
                <li>
                    <a href="">Bioimpedancia</a>
                </li>
            </ul>
        </nav>
    </header>
    <div id="maincontainer" class="container">
        Tela exibição de Recomendações
    </div>
</body>
</html>